.detailedWrapper {
  height: 100%;
  background-color: white;
  padding: 10px;
}
section#about {
  color: black;
  padding: 20px 20px;

}
.detailedWrapper h2 {
  font-size: 3rem;
  font-weight: bold;
}
.tagline {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.bio {
}
