nav.navbar-wrapper {
  font-size: 1.25rem; /* Increase font size */
  font-weight: bold; /* Add bold effect */
}

nav.navbar-wrapper a:hover {
  border-bottom-width: 2px; /* Set border width to 2px */
  border-bottom-style: solid; /* Set border style to solid */
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#navbar {
  transition: all 0.3s ease;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.6)
  );
  backdrop-filter: blur(10px);
  /* background-image: url(../public/assets/images/headerNav.jpeg); */
  padding: 1rem 2rem;
}
.scrolled {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.9)
  );
}
